<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <title>溫溼度歷史</title>
</head>
<body>
    <div class="page-header">
        <h1>History of Temperature</h1>
        <div class="page-nav">
            <a href="{% url 'add_temperature' %}">新增溫溼度</a>
            <a href="{% url 'show_temperature1' %}">顯示目前溫濕度</a>
            <a href="{% url 'show_temperature2' %}">顯示歷史溫濕度</a>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <table class="table earth-table text-center">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>sensor id</th>
                            <th>溫度</th>
                            <th>濕度</th>
                            <th>時間</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in resultList %}
                        <tr>
                            <td>{{ data.myid }}</td>
                            <td>{{ data.sensor_id }}</td>
                            <td>{{ data.temperature }}</td>
                            <td>{{ data.humidity }}</td>

                            {% comment %} 更改時域:台北時間 {% endcomment %}
                            {% load tz %}
                            {% timezone "Asia/Taipei" %}
                            <td>{{ data.timestamp | date:"Y-m-d H:i:s" }}</td>
                            {% endtimezone %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>